<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <div class="site-title-sub">
          <a class="site-title" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
          <div class="site-subtitle">Quinterra</div>
        </div>
        <ul class="visible-links">
            {% for link in site.data.navigation.main %}
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = site.url | append: site.baseurl %}
              {% endif %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
        <button><div class="navicon"></div></button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
  <div class="subhead__inner-wrap">
  	<nav class="greedy-nav-sub">
  	{% assign loopcheck = true %}
    {% for link in site.data.navigation.main %}
  	  {% assign subheader = site.data.subheader[page.header.sub] %}
  	  {% if page.header.sub and link.title == page.title %}
		<ul class="visible-links-sub">
		  {% for child in subheader %}
		    {% if child.url contains 'http' %}
			  {% assign domain = '' %}
			{% else %}
			  {% assign domain = site.url | append: site.baseurl %}
			{% endif %}
			<li class="visible-link-sub"><a href="{{ domain }}{{ child.url }}">{{ child.title }}</a></li>
		  {% endfor %}
		</ul>
	  {% elsif loopcheck %}
		{% for child in subheader %}
		  {% if child.title == page.title %}
		  	{% assign loopcheck = false %}
			<ul class="visible-links-sub">
			  {% for child in subheader %}
				{% if child.url contains 'http' %}
				  {% assign domain = '' %}
				{% else %}
				  {% assign domain = site.url | append: site.baseurl %}
				{% endif %}
				{% if page.title == child.title %}
				  <li class="visible-link-sub-active"><a href="{{ domain }}{{ child.url }}">{{ child.title }}</a></li>
				{% else %}
				  <li class="visible-link-sub"><a href="{{ domain }}{{ child.url }}">{{ child.title }}</a></li>
				{% endif %}
			  {% endfor %}
			</ul>
			{% break %}
		  {% endif %}
		{% endfor %}
	{% endif %}
  {% endfor %}
  <button><div class="navicon-sub"></div></button>
  <ul class="hidden-links-sub hidden"></ul>
  </nav>
  </div>
</div>