/* ==========================================================================
   Search Input Box
   ========================================================================== */

@import "minimal-mistakes/variables";

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:$gray;
}

.search_results {
  display: inline-block;
  fill: $search-color;
  width: 20em;
  line-height: 1;
  position: relative;
  top: -0.1em;
}

.search_result {
  display: block;
  fill: $search-color;
  width: 20em;
  line-height: 1;
  position: relative;
  top: -0.1em;
}